<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIO Apriori</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <style>
      table {
           border-collapse: collapse;
           width: 100%;
            }

      th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
            }

      th {
         background-color: #f2f2f2;
         }
</style>
</head>
<body>

        <div class="container">
            <h2>Apriori Output</h2>
        <table>

    <!--<tbody>
      {% for row in table_data %}
      <tr>
        <td>{{ row.rule }}</td>
        <td>{{ row.support}}</td>
        <td>{{ row.confidence}}</td>
        <td>{{ row.lift}}</td>
      </tr>
      {% endfor %}
    </tbody>-->
           <table>
  <thead>
    <tr>
      <th>Rule</th>
      <th>Support</th>
      <th>Confidence</th>
      <th>Lift</th>
    </tr>
  </thead>
  <tbody>
    {% for row in table_data %}
    <tr>
      <td>{{ row.rule }}</td>
      <td>{{ row.support }}</td>
      <td>{{ row.confidence }}</td>
      <td>{{ row.lift }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
        </div>



</body>
</html>
