<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIO Apriori</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-color"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">JIO Apriori</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-color">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('ml') }}">Machine Learning</a></li>
                    <li><a href="{{ url_for('team') }}">Team</a></li>
                </ul>
            </div>
        </div>
    </div>
    <body style="background-color: hsl(214, 63%, 82%);"></body>
    
    <div class="container">
    <div class="row">
        <div class="col-md-12" >
            <h3><center><b>Team JIO!</b></center></h3>
        </div>
        </div>
    </div>
    <br>
    <br>

    <div class="col-md-6 text-center">
        <img src="../static/images/kessir.jpg" alt="Kesavan S" width="350" height="350">
        <h2><b>Kesavan S</b></h2>
        <table class="table table-dark">
        <thead>
                </thead>
                <tbody>

                    <tr>
                    <td>Occupation:</td>
                    <td>Lead at JPL</td>
                    </tr>
                    <tr>
                    <td>Experience:</td>
                    <td>14+ years</td>
                    </tr>
                    <tr>
                    <td>LinkedIn:</td>
                    <td><a href="https://www.linkedin.com/in/kesavan-s-b6975410">Kesavan S</a></td>
                    </tr>
                </tbody>
                </table>
        </div>
        <div class="col-md-6 text-center">
        <img src="../static/images/Profile pic.jpeg" alt="Amogh Gupta" width="300" height="350">
        <h2><b>Amogh Gupta</b></h2>
        <table class="table table-dark">
            <thead>
            </thead>
            <tbody>

                <tr>
                <td>Occupation:</td>
                <td>Intern Jio</td>
                </tr>
                <tr>
                <td>Experience:</td>
                <td>Fresher</td>
                </tr>
                <tr>
                <td>LinkedIn:</td>
                <td><a href="https://www.linkedin.com/in/connectamogh">Amogh Gupta</a></td>
                </tr>
            </tbody>
            </table>
    </div>


    <!-- <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script src="/static/scripts/respond.js"></script> -->
    

</body>
</html>
